.parent{
    background-color:rgb(187, 164, 158);
    height: 100vh;
    border: 20px solid;
    display: inline-flex;
    flex-flow: right;
    flex-wrap: nowrap;

}

.box1{
    width: 200px;
    height: 200px;
    background-color :brown;
    display: flex;
    border-style: 30px ;
}

.box2{
    width: 200px;
    height: 200px;
    background-color : rgb(39,61,134);
    display: flex;
    flex-grow: 50;
   
}


.box3{
    width: 200px;
    height: 200px;
    background-color : yellow;
    display: flex;
}