body{
    background-color:rgb(206, 151, 159);
    
}
h2 {
    color: rgb(59, 21, 21);
}

img{
    float: left;
}
p{
    text-align: center; 
    cursor: pointer;
    border: 5px solide;
}
p{
   
  line-height: 50px; 
  font-style: italic;
  font-weight: bold;
  font-size: 100%;
  font-family: cursive;
}